<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
<script>
    function login(){
       $.ajax({
            url:"/member/login",
            type:"POST",
            data:{"id":$("#id").val(),"pw":$("#pw").val()}
       }).done(function(pResult){

            if(pResult['result'] == 'success'){
                $.cookie('loginToken', pResult['token'], {path:'/'});
                window.location.replace("/member/login_check")
            } else {
                alert(pResult['msg'])
            }

       });
    }
</script>
<input type="text" id="id" name="id">
<input type="password" id="pw" name="pw">

<div onclick="login()">버튼클릭</div>
<div>
    test id : test
    test pw : 123456
</div>
{% for tests in test %}
    {{ tests.name }}{{ tests.email }} {{ tests.team }}
{% endfor %}
</body>
</html>